{
    "swagger": "2.0",
    "info": {
      "version": "2018-08-14-preview",
      "title": "Ping Action",
      "description": "Action that returns a ping"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "security": [
        {
        }
    ],
    "securityDefinitions": {
    },
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceproviders/{customrpname}/ping": {
        "post": {
          "tags": [
            "ping"
          ],
          "description": "Action that returns a ping",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "name": "resourceGroupName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The name of the resource group. The name is case insensitive.",
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "minLength": 1,
              "maxLength": 65
            },
            {
              "name": "customrpname",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The name of the customrp. The name is case insensitive.",
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "minLength": 1,
              "maxLength": 65
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/PingActionParameters"
              },
              "description": "Parameters to the ping function"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Ping response"
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        }
      }
    },
    "definitions": {
        "PingActionParameters": {
            "properties": {
              "pingcontent": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "Source who is pinging"
                  }
                },
                "description": "Some data to identofy the source"
              },
              "randomproperty": {
                "type": "string",
                "description":  "some other random property"
              }
            },
            "description": "Parameters for the ping action"
        }
    },
    "parameters": {
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "Client Api Version."
      }
    }
  }