{
    "swagger": "2.0",
    "info": {
      "version": "2018-09-14-preview",
      "title": "Create Users API",
      "description": "API to create users"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "security": [
    ],
    "securityDefinitions": {
    },
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceproviders/{customrpname}/users/{username}": {
        "put": {
          "tags": [
            "user"
          ],
          "description": "Creates a User",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "name": "resourceGroupName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The name of the resource group. The name is case insensitive.",
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "minLength": 1,
              "maxLength": 90
            },
            {
              "name": "testName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The test name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "name": "microwaveName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The microwave name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/MyCoolActionParameters"
              },
              "description": "The parameters required call my cool action."
            }
          ],
          "responses": {
            "200": {
              "description": "My Cool Action Response",
              "schema": {
                "$ref": "#/definitions/MyCoolActionParameters"
              }
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        },
        "delete": {
          "tags": [
            "microwaves"
          ],
          "description": "Does some cool action.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "name": "resourceGroupName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The name of the resource group. The name is case insensitive.",
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "minLength": 1,
              "maxLength": 90
            },
            {
              "name": "testName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The test name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "name": "microwaveName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The microwave name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "My Cool Action Response"
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        },
        "get": {
          "tags": [
            "microwaves"
          ],
          "description": "Does some cool action.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "name": "resourceGroupName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The name of the resource group. The name is case insensitive.",
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "minLength": 1,
              "maxLength": 90
            },
            {
              "name": "testName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The test name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "name": "microwaveName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The microwave name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "My Cool Action Response",
              "schema": {
                "$ref": "#/definitions/MyCoolActionParameters"
              }
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        },
        "patch": {
          "tags": [
            "microwaves"
          ],
          "description": "Does some cool action.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "name": "resourceGroupName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The name of the resource group. The name is case insensitive.",
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "minLength": 1,
              "maxLength": 90
            },
            {
              "name": "testName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The test name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "name": "microwaveName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The microwave name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/MyCoolActionParameters"
              },
              "description": "The parameters required call my cool action."
            }
          ],
          "responses": {
            "200": {
              "description": "My Cool Action Response",
              "schema": {
                "$ref": "#/definitions/MyCoolActionParameters"
              }
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        }
      }
    },
    "definitions": {
      "MyCoolActionParameters": {
        "properties": {
          "properties": {
            "type": "object",
            "properties": {
              "foo": {
                "type": "string",
                "description": "The foo string property"
              },
              "bar": {
                "type": "string",
                "description": "The bar string property"
              },
              "hello": {
                "$ref": "#/definitions/NestedCoolObject"
              }
            },
            "description": "This is a test of a subobject on a definition."
          },
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "Resource Id"
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "Resource name"
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "Resource type"
          },
          "location": {
            "type": "string",
            "description": "Resource location"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "description": "My Cool Action Description.",
        "x-ms-azure-resource": true
      },
      "NestedCoolObject": {
        "type": "object",
        "properties": {
          "foo2": {
            "type": "string",
            "description": "foo 2 string."
          }
        }
      }
    },
    "parameters": {
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "Client Api Version."
      }
    }
  }